<!DOCTYPE html>
<html lang="en">
<head>
  <!--char set (lang above)-->
  <meta charset="utf-8">

  <!--device/browser shizzle-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--meta content-->
  <link rel="shortcut icon" href="favicon.ico" />
  
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Ruth John for Rumyra Ltd, United Kingdom, 2015">
  <title>How to be a Web A/V Artist</title>

  <link rel="stylesheet" href="reveal/css/reveal.css">
  <link rel="stylesheet" href="reveal/css/theme/rumyra.css" id="theme">
  <link rel="stylesheet" href="reveal/lib/css/zenburn.css">
  <script src="reveal/js/reveal.js"></script>
  <script src="scripts/d3.min.js"></script>

  <!-- <script src="https://js.pusher.com/3.0/pusher.min.js"></script> -->
  <link rel="stylesheet" href="visuals.css">

  <style type="text/css">
    #screen {
      position: absolute; top:0px; left:0px;
      margin: 0px; padding: 0px;
      width:100vw; height:100vh;
      background-color: black;
      display: none;
    }
    svg {width: 100vw; height: 100vh; padding:0px; margin:0px;}
  </style>
  
</head>

<!--
$brown: #463c34
$green: #acc486
$orange: #ea8d88
$purple: #8c4c6f

$cream: #eee5c4
$grey: #bebebe
-->

<body class="talk">
  <div class="reveal">
    <div class="slides">
      <section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>How to be a Web AV Artist</h1>
          <p>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</p>
          <aside class="notes">
            <p>Get some coffee!!</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="images/me.jpg" data-state="no-visuals">
          <h1>How to be a Web AV Artist</h1>
          <p>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</p>
          <aside class="notes">
            <p>Get some coffee!!</p>
          </aside>
        </section>

        <!--visuals-->
        <section data-background-color="#8c4c6f" data-background-video="media/frontendcon.mp4">
          <audio src="media/warren.m4a" data-autoplay id="warren"></audio>
          <aside class="notes">
            <p>DANCE!</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="images/meLights.jpg" data-state="no-visuals">
          <h1>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h1>
          <p>Hello</p>
          <aside class="notes">
            <p>Hello we are Warsaw - Front End Connect! How are we doing today?</p>
            <p>I'm Ruth - Normally at this top of the talk people say what they do. It's usually a lot easier for me to show you.</p>
            <p>I had the choice of two talks. I could talk to u audio - this is dev heavy!</p>
            <p>What a great first day!</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" class="lists" data-state="no-visuals">
          <div class="list-right">
            <ul>
              <h1>What a great day!</h1>
              <li class="fragment fade-in"><p>Thing one</p></li>
              <li class="fragment fade-in"><p>Operational Excellence</p></li>
              <li class="fragment fade-in"><p>Chat Ops</p></li>
              <li class="fragment fade-in"><p>Orchestration</p></li>
            </ul>
          </div>
          <!-- <div class="list-right">
            <ul>
              <h1>Include</h1>
              <li><p>Duct tape</p></li>
              <li><p>Workarounds</p></li>
              <li><p>Bikeshedding</p></li>
              <li><p>Coffee</p></li>
            </ul>
          </div> -->
          <aside class="notes">
            <p>We've seen some amazing things today</p>
            <p>I'm not even sure where to begin - I certainly didn't see them all!</p>
            <p>And all I'm hear to talk to you about is...</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>How to be a Web AV Artist</h1>
          <p>Sorry you what now?</p>
          <aside class="notes">
            <p>...how to be a web AV artist</p>
            <p>So I'll be honest with you - i struggle with the practicality of this talk. Who here even knows what an A/V artist is?</p>
            <p>Right? Let alone, who needs to know how to be one! I fear I am not going to give you any practical advise for you to take away - yes go back to your jobs monday and code some AV - right there in your web page slash application...</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="images/venn.png" data-state="no-visuals">
          <h1>Who's seen this?</h1>
          <p>Source: @ThePracticalDev</p>
          
          <aside class="notes">
            <p>This was a venn diagram on the internets about 6 months ago</p>
            <p>It's about what speakers talk about and what attendees want to hear about so I took this very literally</p>
            <p>So I made two lists - right things I must say for this to be useful are on the right - so that's duct tape, workarounds, coffee and bikeshedding.</p><p>Thing's I have to avoid are on the left - orchestration, operational excellence, analytics and chat ops.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" class="lists" data-state="no-visuals">
          <div class="list-left">
            <ul>
              <h1>Avoid</h1>
              <li><p>Analytics</p></li>
              <li><p>Operational Excellence</p></li>
              <li><p>Chat Ops</p></li>
              <li><p>Orchestration</p></li>
            </ul>
          </div>
          <div class="list-right">
            <ul>
              <h1>Include</h1>
              <li><p>Duct tape</p></li>
              <li><p>Workarounds</p></li>
              <li><p>Bikeshedding</p></li>
              <li><p>Coffee</p></li>
            </ul>
          </div>
          <aside class="notes">
            <p>I've written a function that monitors this talk - it will alert me with happy smilie face when I say something to include and with sad face when I say something I should avoid.</p>
            <p>Great - now we've got that sorted and my talk anxiety out the way and this becomes a super useful talk - let's begin!</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="images/vj.jpg" data-state="no-visuals">
          <h1>What is an AV Artist?</h1>
          <p>AV stands for audio visual</p>
          <aside class="notes">
            <p>So what does AV stand for?</p>
            <p>A/V stands for audio visual. SO this means audio visual artist. Taking some audio and making visuals from it OR putting visuals to it. Not too much of the audio work, another name for this is a VJ.</p>
            <p>Who remembers this?...</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="images/winamp.jpg" data-state="no-visuals">
          <h1>Winamp</h1>
          <p>The greatest music player</p>
          <audio src="media/llama.mp3" data-autoplay></audio>
          <aside class="notes">
            <p>This is winamp - the greatest mp3 player of all time - simple, lightweight, free</p>
            <p>But that wasn't the best bit...</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/winampVis.gif" data-state="no-visuals">
          <h1>Visualisations</h1>
          <p>Went in time to the music</p>
          <aside class="notes">
            <p>Probably the single most influencial thing for any VJ of my generation</p>
            <p>Visuals that went in time to the music!</p>
            <p>I am going to go through some of the ways of making these in a browser - and how I came to start building my own software to do so. What's the first thing we need</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="images/audioCode.jpg" data-state="no-visuals">
          <h1>Audio</h1>
          <p>Web Audio API</p>
          <aside class="notes">
            <p>Now there's quite a few ways we can get audio in a browser. Especially with the help of the web audio api.</p>
            <p>Create oscillator - sound wave, pitch, type of wave. Create your own wave shape</p>
            <p>Load them from the DOM</p>
            <p>Stream - so your audio or mic.</p>
            <p>Buffer the sound - load it in from a file.</p>
            <p>These two latter are probably most suitable - easpecially that last one - no line in functionality.</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-state="vis_spectrum_sound">
          <p>Demo with sound</p>
          <audio src="media/tokyo.mp3" data-autoplay></audio>
          <aside class="notes">
            <p>This is using a sound file</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-state="vis_spectrum_mic">
        <p>Demo with mic</p>
          <aside class="notes">
            <p>This is piping in the sound from my microphone</p>
            <p>So that's great but how did we make that happen?</p>
            <p>OK so we've got sound - now we need to analyse it!</p>
            <p>NEXT ... </p>
          </aside>
        </section>

        <!--either do it this way - or with visuals-->
        <!-- <section data-background-color="#acc486" data-background-image="images/ben.jpg">
          <h1>Ben Foxall</h1>
          <p>@benjaminbenben</p>
          <aside class="notes">
            <p>Did earlier - he created sound with an oscillator - now I chatted with Ben</p>
          </aside>
        </section> -->
        
        <section data-background-color="#acc486" class="lists" data-state="no-visuals">
          <audio src="media/XPexclaim.m4a" data-autoplay></audio>
          <div class="list-left">
            <ul>
              <h1>Avoid</h1>
              <li><p class="flash">Analytics</p></li>
              <li><p>Operational Excellence</p></li>
              <li><p>Chat Ops</p></li>
              <li><p>Orchestration</p></li>
            </ul>
          </div>
          <div class="list-right">
            <ul>
              <h1>Include</h1>
              <li><p>Duct tape</p></li>
              <li><p>Workarounds</p></li>
              <li><p>Bikeshedding</p></li>
              <li><p>Coffee</p></li>
            </ul>
          </div>
          <aside class="notes">
            <p>Haha - ok the functions working - I am not allowed to talk about analytics! Oh well still a whole talk to go...</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-state="no-visuals">
          <h1>Create Visuals</h1>
          <p>Analyse Sound</p>
          <aside class="notes">
            <p>To begin with we need to analyse the sound</p>
            <p>This is probably the biggest and most important part of the sound stuff we're going to do</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="images/analyserCode.jpg" data-state="no-visuals">
          <h1>Analysing sound</h1>
          <p>Web Audio API</p>
          <aside class="notes">
            <p>Again we can do this is a browser with the web audio api - it has an analyser node. This returns time data and frequency data.</p>
            <p>Nodes</p>
            <p>Analyser gives back array - bigger array better resolution - see next slide...</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="images/freqArray.jpg" data-state="no-visuals">
          <h1>Array frequency amplitudes</h1>
          <aside class="notes">
            <p>And we get this array of freq volumes returned - amplitude values</p>
            <p>0-20k hertz</p>
            <p>Frequencies human ear = tone. Value for each tone</p>
            <p>Analyser gives back array - bigger array better resolution - more tones we cover</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-state="vis_spectrum_sound">
          <aside class="notes">
            <p>As this is is a bunch of 'i' elements that I change the height on depending on the volume value of the frequency.</p>
            <p>Allocated each one to each el in arr</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="images/loopingCode.jpg" data-state="no-visuals">
          <h1>HTML & CSS</h1>
          <p>Simple</p>
          <aside class="notes">
            <p>So this is our really basic example. Take some repeating DOM elements, loop over them and match them up with an item in our frequencyData array.</p>
            <p>When the volume for that frequency gets higher, the elements height gets bigger.</p>
            <p>Cool done, past four - totally legit beer time</p>
            <p>Just using the DOM - there's plenty we can do with that - EXPERIMENTS</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="images/bridget.jpg" data-state="no-visuals">
          <h1>Bridget Riley</h1>
          <p>Super cool artist</p>
          <aside class="notes">
            <p>Experiments need inspiration</p>
            <p>This is Bridget Riley - she's an artist</p>
            <p>I discovered her in Scotland earlier this year - I wanted to visualise her art - something like this:</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-state="vis_bridget_squares">
          <aside class="notes">
            <p>This is just a few sections - flexboxed - expanding to the returned frequency data</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-state="vis_bridget_tri">
          <aside class="notes">
            <p>Just a couple of examples of DOM thangs</p>
          </aside>
        </section>

        <!-- maybe move this to the end after d3 -->
        <section data-background-color="#acc486" class="lists" data-state="no-visuals">
          <div class="list-right">
            <ul>
              <h1>Lovely CSS Thangs</h1>
              <li><p>Transforms</p></li>
            </ul>
          </div>
          <aside class="notes">
            <p>So I thought it would be great to talk about CSS at a JS conference.</p>
            <p>Transform function</p>
            <p>Because I put all this in the DOM I thought wouldn't it be nice to write a function that took those DOM elements, duplicated them and transformed (reflected & rotated) them, to emulate symmetry.</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-state="vis_symmetry">
          
          <aside class="notes">
            <p>Then I wondered if I could put a gif in</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-state="vis_symmetry_gif">
          <aside class="notes">
            <p>Yes I could</p>
          </aside>
        </section>

        <section data-background-color="#acc486" class="lists" data-state="no-visuals">
          <div class="list-right">
            <ul>
              <h1>Lovely CSS Thangs</h1>
              <li><p>Blends</p></li>
              <li><p>Filters</p></li>
            </ul>
          </div>
          <aside class="notes">
            <p>There's also Filters and Blends.</p>
            <p>Blends work great with dom elements - even svg</p>
            <p>Filters with imagery and video *and* are useful for effects.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="vis_jsconf_blend">
          <aside class="notes">
            <p>So this is a vis I did for JSconfEU where I've layered up the elements and added a blend mode to them</p>
            <p>It's definetely adds a different dimension</p>
          </aside>
        </section>

        <!-- <section data-background-color="#acc486" data-background-image="images/filterCode.jpg" data-state="no-visuals">
          <h1>Filters & Blend modes</h1>
          <aside class="notes">
            <p>These are sort of special transparency layer modes for your elements. If you're a user of photoshop you get a similar thing on layers.</p>
            <p>Although not particularly suited to our DOM element examples here, I couldn't go by without mentioning them.</p>
            <p>They add filters to images, video - that's super important.</p>
            <p>Things like greyscale, hue shift, inverting</p>
          </aside>
        </section> -->

        <section data-background-color="#acc486" class="lists" data-state="no-visuals">
          <div class="list-right">
            <ul>
              <h1>Lovely CSS Thangs</h1>
              <li><p>Custom Properties</p></li>
            </ul>
          </div>
          <aside class="notes">
            <p>We've got Custom Properties, Filters and Blends.</p>
            <p>All very suited to what we want to do.</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="images/cusPropCode.jpg" data-state="no-visuals">
          <h1>Custom Properties</h1>
          <aside class="notes">
            <p>Custom properties are basically variables - if you've used pre-processors. You delcare them in the top of your CSS, in a root block, beginning with a double dash.</p>
            <p>Now the great thing about these, is you can reference them directly in your JavaScript and by doing so they update, realtime, within your CSS.</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="images/flower.gif" data-state="no-visuals">
          <aside class="notes">
            <p>So here I'm using much the same method - just a bunch of HTML elements sitting in the DOM.</p>
            <p>Put it all together</p>
            <p>You may notice it's a bit janky. it doesn't really like operating...</p>
          </aside>
        </section>

        <section data-background-color="#acc486" class="lists" data-state="no-visuals">
          <audio src="media/XPcritical.m4a" data-autoplay></audio>
          <div class="list-left">
            <ul>
              <h1>Avoid</h1>
              <li><p><del>Analytics</del></p></li>
              <li><p class="flash">Operational Excellence</p></li>
              <li><p>Chat Ops</p></li>
              <li><p>Orchestration</p></li>
            </ul>
          </div>
          <div class="list-right">
            <ul>
              <h1>Include</h1>
              <li><p>Duct tape</p></li>
              <li><p>Workarounds</p></li>
              <li><p>Bikeshedding</p></li>
              <li><p>Coffee</p></li>
            </ul>
          </div>
          <aside class="notes">
            <p>Ha - brilliant - yes thank you talk bot!</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="images/flower.gif" data-state="no-visuals">
          <aside class="notes">
            <p>So I was thinking about performance...</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="images/ben2.jpg" data-state="no-visuals">
          <h1>Performance</h1>
          <p>This is Ben</p>
          <aside class="notes">
            <p>This is my friend Ben - he's pretty good at stuff. I recommend talking to your friends if you don't their cool.</p>
            <p>So I was chatting to Ben</p>
          </aside>
        </section>

        <section data-background-color="#acc486" class="lists" data-state="no-visuals">
          <audio src="media/XPchord.m4a" data-autoplay></audio>
          <div class="list-left">
            <ul>
              <h1>Avoid</h1>
              <li><p><del>Analytics</del></p></li>
              <li><p><del>Operational Excellence</del></p></li>
              <li><p class="flash">Chat Ops</p></li>
              <li><p>Orchestration</p></li>
            </ul>
          </div>
          <div class="list-right">
            <ul>
              <h1>Include</h1>
              <li><p>Duct tape</p></li>
              <li><p>Workarounds</p></li>
              <li><p>Bikeshedding</p></li>
              <li><p>Coffee</p></li>
            </ul>
          </div>
          <aside class="notes">
            <p>Facepalm - I am not going to make it to the end of this talk am I - right i am not allowed to mention orchestration - that should be pretty easy right?</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="images/ben2.jpg" data-state="no-visuals">
          <h1>@benjaminbenben</h1>
          <p>This is Ben</p>
          <aside class="notes">
            <p>So yes I was 'talking' to Ben.</p>
            <p>He was helping me with one particular interactive piece i was doing. Blog post.</p>
          </aside>
        </section>

        <section data-background-color="#acc486" class="lists" data-state="no-visuals">
          <div class="list-right">
            <ul>
              <h1>d3.js</h1>
              <li><p>Data</p></li>
              <li><p>DOM</p></li>
              <li><p>Maths</p></li>
              <li><p>SVGs</p></li>
            </ul>
          </div>
          <aside class="notes">
            <p>Very much in the don't use libraries until I have too.</p>
            <p>d3 bar charts & pie charts - beginning to change</p>
            <p>But I started digging around and it had great methods - for creating Dom elements, for simply doing maths on arrays which could come in useful with this frequency data we have.</p>
            <p>THus began my next set of experiments.</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="images/superGraphic.jpg" data-state="no-visuals">
          <h1>Super Grahic</h1>
          <p>Tim Leong</p>
          <aside class="notes">
            <p>This is the inspiration for my d3 set - it's a book called super graphic by tim leong - it 'charts' data from comics and graphic novels in a lovely visual way</p>
          </aside>
        </section>        

        <section data-background-color="#acc486" data-state="vis_sunburst">
          <aside class="notes">
            <p>So we can easily attach each item in our frequency array within d3 - so here I'm drawing SVGs in a sunburst shape.</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-state="vis_concentric">
          <aside class="notes">
          </aside>
        </section>

        <section data-background-color="#acc486" data-state="vis_diagonalCirc">
          <aside class="notes">
            <p>And as Nadee pointed out yesterday we can add blend modes</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-state="vis_supChart">
          <aside class="notes">
          </aside>
        </section>

        <!-- <section data-background-color="#acc486" data-state="vis_chart_better">
          <aside class="notes">
            <p>Let's take this vis</p>
          </aside>
        </section> -->

        <section data-background-color="#acc486" data-background-image="images/freqArray.jpg" data-state="no-visuals">
          <h1>d3 shape per item</h1>
          <aside class="notes">
            <p>So we can make this array as many items as we want</p>
            <p>We attach a shape per item - or rather d3 kinda does this for us - then we can use the data per item as we want, to change colour, shape, size etc...</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-state="no-visuals">
          <h1>Analysis</h1>
          <p>Data can be better</p>
          <aside class="notes">
            <p>Thing is that data can be better</p>
            <p>I want to go back to the analysis for a second - now I've only just started thinking about this - let alone doing something about this</p>
            <p>Imagine beat detection, high low mid frequency detection, brightness etc...</p>
            <p>Data we get back isn't so great - 0-20k - 0-5k linear -> log</p>
          </aside>
        </section>

        <!-- <section data-background-color="#acc486" data-state="vis_chart">
          <aside class="notes">
            <p>Let's take this vis</p>
          </aside>
        </section> -->

        <section data-background-color="#acc486" data-background-image="images/freqArray.jpg" data-state="no-visuals" data-transition="none">
          <h1>Array frequency velocities</h1>
          <aside class="notes">
            <p>Let's for a second go back to our array of frequency velocities.</p>
            <p>It goes all the way up to 20kHz - this is pretty - in fact it's really high.</p>
            <p>A musical keyboard for instance goes about this high.</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="images/freqKey.jpg" >
          <h1>Keyboard frequencies</h1>
          <aside class="notes">
            <p>Not that high</p>
            <p>The other thing to note is we're splitting these frequencies up in equal measures</p>
            <p>Data from audio api - gaps are equal</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="images/keyNotes.png">
          <h1>Note gaps</h1>
          <p>Not equal</p>
          <aside class="notes">
            <p>These are all the note A on the keyboard - they are octave jumps - all the same harmoniously</p>
            <p>440 in the middle, 220 below and 880 above. Gap gets bigger.</p>
            <p>Represent the array better</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="images/partArr.jpg" data-transition="none">
          <h1>Slice Array</h1>
          <aside class="notes">
            <p>So we can just take this part of the array, and spread it out...</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="images/arrSpread.jpg" data-transition="none">
          <h1>Spread Array</h1>
          <aside class="notes">
            <p>So we can just take this part of the array, and spread it out...</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="images/adjustFunc.jpg" data-state="no-visuals">
          <h1>Magic Function</h1>
          <aside class="notes">
            <p>Like this</p>
            <p>Simple</p>
            <p>No granted, this actually wasn't in anyway simple. This is my third iteration of this function and I'm always optimising it in one way or another.</p>
            <p>And to proove it works...</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-state="vis_supChart_before">
        <audio src="media/screwUp.mp3" data-autoplay></audio>
          <aside class="notes">
            <p>This is a vis using the data before I manipulate it - straight form the audio api</p>
            <p>Can you see the top right is heavy - this is low to high, so this portion of the array is getting all the data</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-state="vis_supChart">
        <audio src="media/screwUp.mp3" data-autoplay></audio>
          <aside class="notes">
            <p>And this is the data after I run the magical function.</p>
            <p>See how much more spread out this is.</p>
            <p>Now I do realise this isn't a perfect science - it's not suppose to be. I'm making this betterer for visuals. And actually this makes it easier for me to detect low, mid and high frequencies.</p>
          </aside>
        </section>
        

        <section data-background-color="#ea8d88" data-background-image="images/codevember.jpg" data-state="no-visuals">
          <h1>Canvas?</h1>
          <p>2D / 3D</p>
          <aside class="notes">
            <p>So the thing is. What about canvas. We're just chucking things at the dom and actually, although things appear smoother now we're working with svgs, when you try to redraw a *lot* of stuff we come across the same performance problems as before</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="images/codevember.jpg" data-state="no-visuals">
          <h1>We Got Visuals</h1>
          <p>What's Next?</p>
          <aside class="notes">
            <p>Couple of things i haven't mentioned - video. i actually use a lot of video - hence why I kept it in the dom, video is easy</p>
            <p>3D I am just starting my 3D experiments. I tried a little with three.js but I think A frame is more suitable at this point.</p>
            <p>But control...</p>
            <p>Talk about keyboard - gamepad - sets, tracks, mix</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-state="no-visuals">
          <h1>Web MIDI API</h1>
          <p>Controlling</p>
          <aside class="notes">
            <p>MIDI is not sound - the bleepy noises you relate to MIDI are not actually MIDI - that is digital audio.</p>
            <p>MIDI is a standardised data protocol that electronic instruments all use so musical instrument manufacturers, software manufacturers etc can all make sure equipment etc... that's compatible.</p>
            <p>The first specs came out in 1983 - huge rise of popularity in electronic instruments in the 70s and indutry experts all got together and made the spec, so all thses instruments could talk to each other and the recording studios they found them in</p>
            <p>I could do a whole talk *just* about MIDI - I have, a lot, this year. You can find it online in some shape or form.</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="images/keyboard.jpg" data-state="no-visuals">
          <h1>MIDI Instrument</h1>
          <p>Onboard Audio</p>
          <aside class="notes">
            <p>This is a musical keyboard</p>
            <p>It has audio - it had MIDI, plug it in... it's orchastrates with other equipment...</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" class="lists" data-state="no-visuals">
          <audio src="media/XPbatt.m4a" data-autoplay></audio>
          <div class="list-left">
            <ul>
              <h1>Avoid</h1>
              <li><p><del>Analytics</del></p></li>
              <li><p><del>Operational Excellence</del></p></li>
              <li><p><del>Chat Ops</del></p></li>
              <li><p class="flash">Orchestration</p></li>
            </ul>
          </div>
          <div class="list-right">
            <ul>
              <h1>Include</h1>
              <li><p>Duct tape</p></li>
              <li><p>Workarounds</p></li>
              <li><p>Bikeshedding</p></li>
              <li><p>Coffee</p></li>
            </ul>
          </div>
          <aside class="notes">
            <p>I've actually failed</p>
            <p>But wait - have I? For the keen eyed among you...</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="images/keyboard.jpg" data-state="no-visuals">
          <h1>MIDI Instrument</h1>
          <p>Onboard Audio</p>
          <aside class="notes">
            <p>This is a musical keyboard - it's MIDI enabled. This means when you play it, it sends MIDI data, it has a USB port and this is how you receive or send that data.</p>
            <p>This is a MIDI instrument - the big difference between this and this...</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="images/launchpad.jpg" data-state="no-visuals">
          <h1>MIDI Controller</h1>
          <p>No Onboard Audio</p>
          <aside class="notes">
            <p>This is a MIDI controller - this a Novation Launchpad. It does not have any onboard audio.</p>
            <p>You would use it to control audio from elsewhere, like software - when you press the buttons it send MIDI data.</p>
            <p>This is the crux of the Web MIDI API - just picking up on that data and deciding what to do with it.</p>
            <p>There are loads of MIDI controllers out there</p>
            <p>I have a few - this is my handbag MIDI controller. It's actually bluetooth, so I don't need a cable to hook it up to my machine so that's pretty sweet.</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="images/midiCode.jpg" data-state="no-visuals">
          <h1>Web MIDI API</h1>
          <aside class="notes">
            <p>So if I plug in a MIDI device - any - usually USB and run this code</p>
            <p>I get numbers - pure and simple. Channel, note and velocity.</p>
            <p>Clean & simple way to hardware enable ur browser.</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-state="vis_vjing">
          <h1>Demo</h1>
          <p>MIDI</p>
          <aside class="notes">
            <p>So the big idea with having this controller is I can select different video clips, or afore seen animations and actually *mix* between them.</p>
            <p>I can also attach different effects to buttons and trigger them too.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="images/me.jpg" data-state="no-visuals">
          <h1>Is this real?</h1>
          <p>Or Just a Game</p>
          <aside class="notes">
            <p>Um its kinda real - this is me with my portable VJ pack.</p>
            <p>I have a pocket projector, last year at xmas I took it to the streets of Bristol</p>
            <p>Wrote a blog post - people got in touch</p>
            <p>Started a slack channel</p>
            <p>Me and tim did a talk</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="images/liveJS.jpg" data-state="no-visuals">
          <h1>{ Live : JS }</h1>
          <h2>livejs.network</h2>
          <aside class="notes">
            <p>This is a collective I started - with a few people from all around the world - we're a bunch of musicians and visual artists who create our thangs with JavaScript</p>
            <p>And we have 3 gigs booked in over the next month. It's really real... all from a pipe dream to re-create a piece of software in a browser.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="images/github.png" data-state="no-visuals">
          <h1>Github</h1>
          <aside class="notes">
            <p>We even have a github org so it has to be real</p>
            <p>Really it's great for us to give back to the community.</p>
            <p>Why code my own software - there's native? Because code. I'm not the only one!</p>
            <p>Two software - hacky - real will sit here</p>
            <p>Demo tonight</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="images/asia.jpg" data-state="no-visuals">
          <h1>Gigs</h1>
          <aside class="notes">
            <p>It doesn't feel real, but it is quite real</p>
            <p>This is me and my friend Tim doing a talk/gig at View Source in Berlin</p>
            <p>And I even got to play a festival over the summer too</p>
            <
          </aside>
        </section>

        

        <!-- <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>Your Turn</h1>
          <p>Would you like a go?</p>
          <aside class="notes">
            <p>So now comes the fun part - we need to create some visuals based on the sound, to do that we need to analyse the sound</p>
          </aside>
        </section> -->

        <section data-background-color="#8c4c6f" class="lists" data-state="no-visuals">
          <div class="list-left">
            <ul>
              <h1>Avoid</h1>
              <li><p><del>Analytics</del></p></li>
              <li><p><del>Operational Excellence</del></p></li>
              <li><p><del>Chat Ops</del></p></li>
              <li><p><del>Orchestration</del></p></li>
            </ul>
          </div>
          <div class="list-right">
            <ul>
              <h1>Include</h1>
              <li><p>Duct tape</p></li>
              <li><p>Workarounds</p></li>
              <li><p>Bikeshedding</p></li>
              <li><p>Coffee</p></li>
            </ul>
          </div>
          <aside class="notes">
            <p>One last thing</p>
            <p>But wait - have I? For the keen eyed among you...</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="images/me.jpg" data-state="no-visuals">
          <audio src="media/XPtada.m4a" data-autoplay></audio>
          <h1>Duct tape</h1>
          <aside class="notes">
            <p>Duck tape</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="images/ben2.jpg" data-state="no-visuals">
          <audio src="media/XPtada.m4a" data-autoplay></audio>
          <h1>Bike Shedding</h1>
          <aside class="notes">
            <p>Bike Shedding - Thank you Ben</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="images/adjustFunc.jpg" data-state="no-visuals">
          <audio src="media/XPtada.m4a" data-autoplay></audio>
          <h1>Workaround</h1>
          <aside class="notes">
            <p>A Workaround</p>
            <p>And...</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" class="lists" data-state="no-visuals">
          <audio src="media/XPstartup.m4a" data-autoplay></audio>
          <div class="list-left">
            <ul>
              <h1>Avoid</h1>
              <li><p><del>Analytics</del></p></li>
              <li><p><del>Operational Excellence</del></p></li>
              <li><p><del>Chat Ops</del></p></li>
              <li><p><del>Orchestration</del></p></li>
            </ul>
          </div>
          <div class="list-right">
            <ul>
              <h1>Include</h1>
        <!-- duck tapo, bikeshedding, workaround onboarding-->
              <li><p>Duct tape ✓</p></li>
              <li><p>Workarounds ✓</p></li>
              <li><p>Bikeshedding ✓</p></li>
              <li><p>Coffee ✓</p></li>
            </ul>
          </div>
          <aside class="notes">
            <p>I'm drinking coffee!!</p>
            <p>Most useful talk EVER!</p>
          </aside>
        </section>
        
        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>Ruth John</h1>
          <h1>@Rumyra</h1>
          <h1>Music: @kinnoha</h1>
          <p>Thank You Very Much</p>
          <aside class="notes">
            <p>music by kinnoh</p>
            <p>Thank you very much, I'm Ruth John</p>
            <p>All these examples you've seen are on codepen as part of codevember</p>
            <p>Find me on the internets, follow me</p>
            <p>Go have a relax and I hope you had a lovely conference!</p>
          </aside>
        </section>

<!-- THIS IS IMPORTANT "0x" + x.toString(16); -->
      </section>
    </div></div>

    <div id="screen"></div>

<script src="reveal/plugin/notes/notes.js"></script>
<script src="reveal/plugin/highlight/highlight.js"></script>
<script>hljs.initHighlightingOnLoad();</script>


<script src="scripts/audioVisual.js"></script>

<script src="scripts/talkEvents.js"></script>

</body>
</html>