.vis-speakers {
  width:100vw; height:95vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}
.vis-speakers div {
  border-radius:50% 50% 0px 50%;
  width:10vw; height:10vw; margin:0.5vw 1.2vw;
}
.vis-speakers img {
  display: block;
  width:10vw; height:10vw;
  mix-blend-mode: overlay;
  border-radius:50% 50% 0px 50%;
}

.vis-spectrum {
  width:100vw; height:95vh;
  line-height:95vh; text-align:center;
}
.vis-spectrum i {
  display: inline-block;
  width: 20px; margin:0px 4px -20vh;
}
.vis-spectrum img {
  height:100%; width:auto;
}


#two-screens {position: relative; width:100vw; height:100vh;}
#two-screens section {position:absolute; top:0px; left:0px;}

/*VISUALS~~~~~~~~~~~~~~~~~~*/
.page-vis {
  overflow: auto;
  box-sizing: border-box;
  background-color: #222;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  color: #aaa;
  line-height: 1.4;
}
#controls {
  width:300px;
  padding:16px; margin:0px auto
}
#controls .image {
    text-align: center;
    padding: 16px 0px;
    min-height: 340px;
}
#controls img {
    width: 280px;
    height: auto;
}
#controls header {
    padding: 0.5em 0px;
    border-top: 2px solid #0d6a71;
}
#controls h4 {
    padding: 2em 0px 2em;
}
#controls .form-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.input-radio {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.label-radio {
  display: inline-block; box-sizing:border-box;
  min-width: 48%;
  padding: 8px 16px;
  padding: 0.5rem 1rem;
  margin:10px 0px;
  border-radius: 1px;
  -webkit-transition: all .2s;
  transition: all .2s;
  text-align: center;
}
.field-three .label-radio {
  min-width: 32%;
}
.input-radio:checked + .label-radio {
    background: #91d3d8;
    color: black;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}
.input-radio:focus + .label-radio {
    outline-color: #0d6a71;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}
@font-face{font-family:'Montserrat';font-weight:normal;font-style:normal;src:url("../../../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype")}
@font-face{font-family:'Sac';font-weight:normal;font-style:normal;src:url("../../../fonts/Sacramento/Sacramento-Regular.ttf") format("truetype")}
.page-vismain {font-family:"Montserrat",Impact,sans-serif;}
.page-vismain #screen {
  height:100vh; width:100vw;
  background-color: black;
}
.page-vismain p {
  position: absolute; top:0vh; left:50vw;
  margin:5vh 0px 0px -25vw; width:50vw;
  color:hsla(0,0%,50%,0.7); font-size: 2em;
  text-align: center;
}
.page-vismain a {
  border-bottom: 1px solid hsla(0,0%,50%,0.8);
  color:hsla(0,0%,50%,0.8); text-decoration:none;
}
.page-vismain span {font-family:"Sac",cursive;}
.page-vismain img {
    width: 100px;
    height: 100px;
}
.page-vismain #screen {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
}