:root {
  --level: 1;
}

.vis-speakers {
  width:100vw; height:95vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
.vis-speakers div {border-radius: 2px;}
.vis-speakers img {
  display: block;
  width:25vw; height:25vw;
  mix-blend-mode: overlay;
  border-radius:2px;
}
/*-----------------*/
.vis-spectrum {
  width:100vw; height:95vh;
  line-height:95vh; text-align:center;
}
.vis-spectrum i {
  display: inline-block;
  width: 20px; margin:0px 4px -20vh;
}
/*-----------------*/
.vis-bridget-squares {
  width: 100vw; height: 100vh;
  background: black;
  display: flex;
  align-items: stretch;
}
.vis-bridget-squares section {
  background-color: white;
  background-image: linear-gradient(to bottom, black 50%, white 50%);
  background-size: 20vh 20vh;
  flex:1;
}
.vis-bridget-squares section:nth-of-type(2n) {
  background-color: black;
  background-position: 0 10vh;
}
/*-----------------*/
.vis-bridget-tri {
  width: 96vw; height: 120vh;
  overflow: hidden;
  transform: translate(2vw, -10vw);
}
.vis-bridget-tri b {
  display: block; float: left;
  height:13vw; width:16vw;
  position: relative;
  background: transparent;
  opacity: 0;
}
.vis-bridget-tri b:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #fff;
  border-width: 13vw 8vw 0 8vw;
  border-radius: 0vw;
  margin-left: -16vw;
}
.vis-bridget-tri b:nth-of-type(n+5) {transform: translateX(16vw);}
.vis-bridget-tri b:nth-of-type(n+9) {transform: translateX(0vw);}
.vis-bridget-tri b:nth-of-type(n+13) {transform: translateX(8vw);}
.vis-bridget-tri b:nth-of-type(n+14) {transform: translateY(13vw);}
.vis-bridget-tri b:nth-of-type(16) {transform: translateY(0vw);}


/*-----------------*/
.quarter div {
  height: 20px;
  opacity: var(--level);
}
.quarter div:nth-of-type(1) {
  width: 50px;
  background-color: rgba(214, 153, 92, 0.7);
  border: 1px solid rgba(214, 153, 92, 0.9);
  animation: moveDivs 400ms linear 200ms alternate infinite;
}
.quarter div:nth-of-type(2) {
  width: 100px;
  background-color: rgba(214, 214, 92, 0.7);
  border: 1px solid rgba(214, 214, 92, 0.9);
  animation: moveDivs 800ms linear 400ms alternate infinite;
}
.quarter div:nth-of-type(3) {
  width: 150px;
  background-color: rgba(153, 214, 92, 0.7);
  border: 1px solid rgba(153, 214, 92, 0.9);
  animation: moveDivs 1200ms linear 600ms alternate infinite;
}
.quarter div:nth-of-type(4) {
  width: 200px;
  background-color: rgba(92, 214, 92, 0.7);
  border: 1px solid rgba(92, 214, 92, 0.9);
  animation: moveDivs 1600ms linear 800ms alternate infinite;
}
.quarter div:nth-of-type(5) {
  width: 250px;
  background-color: rgba(92, 214, 153, 0.7);
  border: 1px solid rgba(92, 214, 153, 0.9);
  animation: moveDivs 2000ms linear 1000ms alternate infinite;
}
.quarter div:nth-of-type(6) {
  width: 300px;
  background-color: rgba(92, 214, 214, 0.7);
  border: 1px solid rgba(92, 214, 214, 0.9);
  animation: moveDivs 2400ms linear 1200ms alternate infinite;
}
.quarter div:nth-of-type(7) {
  width: 350px;
  background-color: rgba(92, 153, 214, 0.7);
  border: 1px solid rgba(92, 153, 214, 0.9);
  animation: moveDivs 2800ms linear 1400ms alternate infinite;
}
.quarter div:nth-of-type(8) {
  width: 400px;
  background-color: rgba(92, 92, 214, 0.7);
  border: 1px solid rgba(92, 92, 214, 0.9);
  animation: moveDivs 3200ms linear 1600ms alternate infinite;
}

@keyframes moveDivs {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(50vh);
  }
}

/*-----------------*/
.quarter {
  overflow: hidden;
}
.quarter img {
  height: 50vh;
  width: auto;
}

/*-----------------*/
.vis-spots-blend circle {mix-blend-mode: screen;}


/*-----------------*/

#two-screens {position: relative; width:100vw; height:100vh;}
#two-screens section {position:absolute; top:0px; left:0px;}

/*VISUALS~~~~~~~~~~~~~~~~~~*/
.page-vis {
  overflow: auto;
  box-sizing: border-box;
  background-color: #222;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  color: #aaa;
  line-height: 1.4;
}
#controls {
  width:300px;
  padding:16px; margin:0px auto
}
#controls .image {
    text-align: center;
    padding: 16px 0px;
    min-height: 340px;
}
#controls img {
    width: 280px;
    height: auto;
}
#controls header {
    padding: 0.5em 0px;
    border-top: 2px solid #0d6a71;
}
#controls h4 {
    padding: 2em 0px 2em;
}
#controls .form-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.input-radio {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.label-radio {
  display: inline-block; box-sizing:border-box;
  min-width: 48%;
  padding: 8px 16px;
  padding: 0.5rem 1rem;
  margin:10px 0px;
  border-radius: 1px;
  -webkit-transition: all .2s;
  transition: all .2s;
  text-align: center;
}
.field-three .label-radio {
  min-width: 32%;
}
.input-radio:checked + .label-radio {
    background: #91d3d8;
    color: black;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}
.input-radio:focus + .label-radio {
    outline-color: #0d6a71;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}
@font-face{font-family:'Montserrat';font-weight:normal;font-style:normal;src:url("../../../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype")}
@font-face{font-family:'Sac';font-weight:normal;font-style:normal;src:url("../../../fonts/Sacramento/Sacramento-Regular.ttf") format("truetype")}
.page-vismain {font-family:"Montserrat",Impact,sans-serif;}
.page-vismain #screen {
  height:100vh; width:100vw;
  background-color: black;
}
.page-vismain p {
  position: absolute; top:0vh; left:50vw;
  margin:5vh 0px 0px -25vw; width:50vw;
  color:hsla(0,0%,50%,0.7); font-size: 2em;
  text-align: center;
}
.page-vismain a {
  border-bottom: 1px solid hsla(0,0%,50%,0.8);
  color:hsla(0,0%,50%,0.8); text-decoration:none;
}
.page-vismain span {font-family:"Sac",cursive;}
.page-vismain img {
    width: 100px;
    height: 100px;
}
.page-vismain #screen {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
}